<%- include("header") %>
<%- include("nav") %>

<div class="container px-4 px-lg-5">
    <h2 class="section-title text-center my-5" data-aos="fade-up">
        <%= title %>
        <hr class="col-md-4 offset-md-4 rounded-4" style="border-width: 5px; color: #0077B5;">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis recusandae vel enim? Laborum ducimus quis
            dolore perspiciatis quam consequuntur vitae atque, placeat aspernatur vel praesentium quidem expedita ab
            maxime nobis!</p>
    </h2>

    <!-- Profile Section -->
    <div class="row align-items-center">
        <div class="col-lg-4 text-center" data-aos="fade-left">
            <img src="/img/Profile.png" class="profile-img img-fluid rounded-circle" alt="Profile Image">
            <div class="mt-3">
                <a href="https://github.com/Evangelinop0701?tab=repositories" class="btn btn-sm me-2"
                    style="color: #333;" target="_blank"><i class="fab fa-github display-6"></i></a>
                <a href="https://www.linkedin.com/in/evangelino-soares-saldanha-a37834359" class="btn btn-sm me-2"
                    style="color: #0077B5;" target="_blank"><i class="fab fa-linkedin display-6"></i></a>
                <a href="#" class="btn btn-sm" style="color: red;" target="_blank"><i
                        class="fas fa-envelope display-6"></i></a>
                <a href="https://web.facebook.com/sety.janeru/about/" class="btn btn-sm" style="color: rgb(0, 17, 255);"
                    target="_blank"><i class="fab fa-facebook display-6"></i></a>
            </div>
        </div>

        <div class="col-md-8 rounded-3 shadow-lg p-5 mb-4" data-aos="fade-right" style="background-color: white;">
            <h5 class="px-2">Working Experience</h5>
            <hr>
            <h6>Freelance Web Developer (2022 – Present)</h6>
            <ul>
                <li>Information Systems & Academic Management in Secondary Schools – Django + Bootstrap + Python (<a
                        href="https://github.com/Evangelinop0701/Sistema-Gestaun-Academica-STV-liquisa"
                        target="_blank">GitHub</a>)</li>
                <li>E-learning system – Django + Python (<a href="https://github.com/Evangelinop0701/elearning-fagri"
                        target="_blank">GitHub</a>)</li>
                <li>Decision Support System for Retail Business Location – PHP + HTML + CSS + Bootstrap + AHP (<a
                        href="https://github.com/Evangelinop0701/Sistema-determinasaun-fatin-negosiu-Retallu-utiliza-metoduAHP"
                        target="_blank">GitHub</a>)</li>
                <li>Rental Bike System – PHP + HTML + CSS + Bootstrap (<a
                        href="https://rentalbike.timorowned.com/index.php" target="_blank">Website</a>)</li>
                <li>More projects – <a href="https://github.com/Evangelinop0701?tab=repositories" target="_blank">GitHub
                        Repositories</a></li>
            </ul>
        </div>
        <!-- <div class="col-lg-8 rounded-3 shadow-lg p-5" data-aos="fade-right" style="background-color: white;">
            <h5 class="px-2">Profile</h5>
            <hr>
            <p><strong><i class="fa fa-user-circle text-primary px-2"></i>Name:</strong> Evangelino Soares Saldanha
            </p>
            <p><strong><i class="fa fa-male text-primary px-2"></i>Sex:</strong> Male</p>
            <p><strong><i class="fa fa-map-marker-alt text-danger px-2"></i>Address:</strong> Tasi-Tolu</p>
            <p><strong><i class="fa fa-map-marker-alt text-primary px-2"></i>Municipality:</strong> Viqueque</p>
            <p><strong><i class="fa fa-flag text-dark px-2"></i>Nationality:</strong> Timorese</p>
            <p><strong><i class="fa fa-heart text-dark px-2"></i>Status:</strong> Soltero</p>
        </div> -->
    </div>

    <!-- Skills Section -->
    <!-- <div class="row mt-5">
        <div class="col-md-12 rounded-3 shadow-lg p-5 mb-4" data-aos="fade-right" style="background-color: white;">
            <h5 class="px-2">Skills</h5>
            <hr>
            <ul>
                <li><strong>Skillset:</strong> Web Development, Problem Solving, Front-End Development, Database
                    Administration, Back-End Development, Software Documentation, SCRUM Agile Methodology, Data
                    Analysis, Teamwork</li>
                <li><strong>Toolset:</strong> Django, CodeIgniter, Bootstrap, Jira, VS Code, MySQL Workbench, XAMPP,
                    PostgreSQL, Draw.io, Notion, GitHub, Git Bash, Pandas, PowerBI, Web Scraping</li>
                <li><strong>Programming Languages:</strong> PHP, Python, JavaScript, HTML, CSS, SQL</li>
                <li><strong>Frameworks & Libraries:</strong> Django, CodeIgniter, Bootstrap</li>
                <li><strong>Databases:</strong> MySQL, PostgreSQL</li>
            </ul>
        </div>
    </div> -->

    <!-- Languages Section -->
    <!-- <div class="row mt-4">
        <div class="col-md-12 rounded-3 shadow-lg p-5 mb-4" data-aos="fade-left" style="background-color: white;">
            <h5 class="px-2">Languages</h5>
            <hr>
            <ul>
                <li><strong>Tetun:</strong> Speak, Read, Write, Understand – Excellent</li>
                <li><strong>English:</strong> Speak, Read – Native, Write – Excellent, Understand – Excellent</li>
                <li><strong>Portuguese:</strong> Speak, Read – Native, Write – Excellent, Understand – Excellent
                </li>
                <li><strong>Indonesian:</strong> Speak, Read – Native, Write – Excellent, Understand – Excellent
                </li>
            </ul>
        </div>
    </div> -->

    <!-- Working Experience Section -->
    <div class="row mt-4">
        <div class="col-md-12 rounded-3 shadow-lg p-5 mb-4" data-aos="fade-right" style="background-color: white;">
            <h5 class="px-2">Working Experience</h5>
            <hr>
            <h6>Freelance Web Developer (2022 – Present)</h6>
            <ul>
                <li>Information Systems & Academic Management in Secondary Schools – Django + Bootstrap + Python (<a
                        href="https://github.com/Evangelinop0701/Sistema-Gestaun-Academica-STV-liquisa"
                        target="_blank">GitHub</a>)</li>
                <li>E-learning system – Django + Python (<a href="https://github.com/Evangelinop0701/elearning-fagri"
                        target="_blank">GitHub</a>)</li>
                <li>Decision Support System for Retail Business Location – PHP + HTML + CSS + Bootstrap + AHP (<a
                        href="https://github.com/Evangelinop0701/Sistema-determinasaun-fatin-negosiu-Retallu-utiliza-metoduAHP"
                        target="_blank">GitHub</a>)</li>
                <li>Rental Bike System – PHP + HTML + CSS + Bootstrap (<a
                        href="https://rentalbike.timorowned.com/index.php" target="_blank">Website</a>)</li>
                <li>More projects – <a href="https://github.com/Evangelinop0701?tab=repositories" target="_blank">GitHub
                        Repositories</a></li>
            </ul>
        </div>
    </div>

    <!-- Internship Section -->
    <!-- <div class="row mt-4">
        <div class="col-md-12 rounded-3 shadow-lg p-5 mb-4" data-aos="fade-left" style="background-color: white;">
            <h5 class="px-2">Professional Internship</h5>
            <hr>
            <h6>Diresaun (UDSI) in Comição Funsão Publika (CFP)</h6>
            <ul>
                <li>Software Testing – Portal de Vagas, Portal Juri</li>
                <li>Software Documentation – Portal de Vagas, Portal Juri</li>
            </ul>

            <h6>Social Work Internship – PAM Liquisa Office (3 Months)</h6>
            <ul>
                <li>Admin – Incoming and Outgoing Mail Management System</li>
            </ul>
        </div>
    </div> -->

    <!-- Teaching Experience Section -->
    <!-- <div class="row mt-4 mb-5">
        <div class="col-md-12 rounded-3 shadow-lg p-5" data-aos="fade-right" style="background-color: white;">
            <h5 class="px-2">Teaching Experience</h5>
            <hr>
            <h6>Friendship Class – Nucleo DEI, FECT Hera, UNTL (2 Months)</h6>
            <ul>
                <li>Subject Matter: Web Programming</li>
                <li>Responsibilities: Teaching basic web structure and basic programming to students</li>
            </ul>
        </div>
    </div> -->
</div>

<%- include("footer") %>