<%- include('header.ejs') %>

<!-- Responsive navbar-->
<%- include('nav.ejs') %>
<!-- Page Content-->

<div class="container px-4 px-lg-5">


    <div class="row gx-4 gx-lg-5 align-items-center my-5" data-aos="fade-up">
        <div class="col-lg-4 text-center mb-5" data-aos="fade-left">
            <img src="/img/Profile.png" class="profile-img img-fluid rounded-circle" alt="Profile Image">
            <br>
            <div class="mt-3">
                <a href="https://github.com/Evangelinop0701?tab=repositories" class="btn btn-sm me-2"
                    style="color: #333;" target="_blank"><i class="fab fa-github display-6"></i></a>
                <a href="https://www.linkedin.com/in/evangelino-soares-saldanha-a37834359" class="btn btn-sm me-2"
                    style="color: #0077B5;" target="_blank"><i class="fab fa-linkedin display-6"></i></a>
                <a href="#" class="btn btn-sm" style="color: red;" target="_blank"><i
                        class="fas fa-envelope display-6"></i></a>
                <a href="https://web.facebook.com/sety.janeru/about/" class="btn btn-sm" style="color: rgb(0, 17, 255);"
                    target="_blank"><i class="fab fa-facebook display-6"></i></a>
            </div>
        </div>
        <div class="col-lg-8" data-aos="fade-right">
            <h3 class="display-6 mb-4 fw-bold">Hi, I'm <span class="text-primary fw-bold"
                    style="background: linear-gradient(#ff58b7, #229cde); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Evnagelino
                    Soares
                    Saldanha</span></h3>
            <h2 class="mb-4">Junior Software Developer & Database Admistractor Enthusiast</h2>
            <p class="lead mb-4" style="">My name is Evangelino Soares Saldanha, a university
                student and enthusiast in the area of Software Development. This portfolio is created to document
                and share my experiences, projects, and professional skills. I am highly motivated to continue
                learning and developing applications that can benefit the community. The main objective of this
                portfolio is to provide a clear insight into my learning journey, technical skills, and
                contributions to academic or professional projects. </p>
            <a class="btn btn-sm text-white" style="background-color: #49cf71;"><i class="fas fa-download"></i> Download
                Resume</a>
            <a class="btn btn-sm text-white" href="page/about" style="background-color: #0077B5;"><i
                    class="fas fa-user-alt"></i>
                About Me</a>
        </div>
    </div>
    <!-- Call to Action-->
    <!-- <div class="card text-white bg-secondary my-5 py-4 text-center" data-aos="fade-up">
        <div class="card-body">
            <p class="text-white m-0">This call to action card is a great place to showcase some important
                information or display a clever tagline!</p>
        </div>
    </div> -->
    <!-- Content Row-->

    <div class="text-center" data-aos="fade-right">
        <h3 class="fw-bold"
            style="background: linear-gradient(#ff58b7, #229cde); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
            Tech Stack</h3>
        <hr class="col-md-2 text-center mx-auto mb-2"
            style="background: linear-gradient(#ff58b7, #229cde); height: 3px; border: none;">
    </div>
    <div class="row mb-4" data-aos="fade-up">
        <div class="col-md-12">
            <div class="card border-0 shadow-sm">
                <div class="card-body text-center">
                    <img src="/img_tech/img_tech_stack.png" alt="Tech Stack" class="img-fluid rounded"
                        style="max-width: 100%; height: auto; background-image: none;">
                </div>
            </div>
        </div>
    </div>



    <div class="text-center my-5" id="skills">
        <h3 class="fw-bold"
            style="background: linear-gradient(#ff58b7, #229cde); -webkit-background-clip: text; -webkit-text-fill-color: transparent;"
            data-aos="fade-left">
            Technical Skills</h3>
        <hr class="col-md-2 text-center mx-auto mb-2"
            style="background: linear-gradient(#ff58b7, #229cde); height: 3px; border: none;">
        <p>My Expertise and technical competencies</p>
    </div>


    <div class="row my-4">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm border-0" data-aos="fade-up">
                <div class="card-body p-4">
                    <i class="fas fa-code fa-3x mb-3 text-white bg-primary p-2 rounded-3"></i>
                    <h4 class="card-title fw-bold">Software Development</h4>
                    <p class="card-text px-2">
                        <i class="fa fa-dot-circle text-primary"></i> Django Framework<br>
                        <i class="fa fa-dot-circle text-primary"></i>Codeigniter<br>
                        <i class="fa fa-dot-circle text-primary"></i> PHP<br>
                        <i class="fa fa-dot-circle text-primary"></i> HTML, CSS, JavaScript<br>
                        <i class="fa fa-dot-circle text-primary"></i> Bootstrap Framework<br>
                        <i class="fa fa-dot-circle text-primary"></i> GitHub, GithBase<br>
                        <i class="fa fa-dot-circle text-primary"></i> Agile Methodologies (SCRUM)<br>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm border-0" data-aos="fade-up">
                <div class="card-body p-4">
                    <i class="fas fa-database fa-3x mb-3 text-white bg-primary p-2 rounded-3"></i>
                    <h4 class="card-title fw-bold">Database Management</h4>
                    <p class="card-text px-2">
                        <i class="fa fa-dot-circle text-primary"></i> MySQL<br>
                        <i class="fa fa-dot-circle text-primary"></i> MySQL Workbench<br>
                        <i class="fa fa-dot-circle text-primary"></i> PostgreSQL<br>
                        <i class="fa fa-dot-circle text-primary"></i> MariaDB<br>
                        <i class="fa fa-dot-circle text-primary"></i> SQLite<br><br><br>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm border-0" data-aos="fade-up">
                <div class="card-body p-4">
                    <i class="fas fa-desktop fa-3x mb-3 text-white bg-primary p-2 rounded-3"></i>
                    <h4 class="card-title fw-bold">Decision Support System</h4>
                    <p class="card-text px-2">
                        <i class="fa fa-dot-circle text-primary"></i> SAW - Simple Additive Weighting<br>
                        <i class="fa fa-dot-circle text-primary"></i> AHP - Analytic Hierarchy Process<br>
                        <i class="fa fa-dot-circle text-primary"></i> SARIMA - Seasonal AutoRegressive Integrated Moving
                        Average<br><br><br><br>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center my-5" id="project" data-aos="fade-right">
        <h3 class="fw-bold"
            style="background: linear-gradient(#ff58b7, #229cde); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
            Featured Projects</h3>
        <hr class="col-md-2 text-center mx-auto mb-2"
            style="background: linear-gradient(#ff58b7, #229cde); height: 3px; border: none;">
    </div>

    <div class="row gx-4 gx-lg-5" data-aos="fade-up">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Card One</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex
                        numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5" data-aos="fade-up">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Card Two</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex
                        natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore
                        voluptates quos eligendi labore.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Card Three</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex
                        numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
    </div>
</div>
<!-- Footer-->

<%- include('footer.ejs') %>